- name: "Check ansible_port availability"
  hosts: all
  gather_facts: no
  tasks:
    - name: "Define fallback SSH port"
      delegate_to: localhost
      set_fact:
        fallback_ssh_port: 22
    - name: "Check configured ansible_port variable"
      delegate_to: localhost
      wait_for:
        port: "{{ ansible_port }}"
        host: "{{ inventory_hostname }}"
        connect_timeout: 5
        timeout: 5
        state: started
      ignore_errors: yes
      register: ansible_port_status

    - name: "Fallback SSH port to default 22"
      delegate_to: localhost
      set_fact:
        ansible_port: "{{ fallback_ssh_port }}"
      when:
       - ansible_port_status is failed

- name: "Hosts basic configuration"
  hosts: all
  tasks:
    - name: "Update packages list and install curl"
      apt: pkg=curl state=latest update_cache=yes
 
    - name: "Enable UFW and allow tcp connections on ports 80,8888,1467"
      ufw:
        rule: allow
        proto: tcp
        port: 80,8888,1467
        state: enabled
    
    - name: "Configure SSH conection port to 1467"
      lineinfile:
        dest: "/etc/ssh/sshd_config"
        regexp: "^Port"
        line: "Port 1467"

    - name: "Allow public key usage (SSH connections)"
      lineinfile:
        dest: "/etc/ssh/sshd_config"
        regexp: "^PubkeyAuthentication"
        line: "PubkeyAuthentication yes"

    - name: "Install Docker Engine"
      apt: pkg=docker.io state=latest

    - name: "Copy Docker Compose installation script"
      copy: src=../files/docker-compose.sh dest=/tmp mode=0755

    - name: "Install Docker Compose"
      command: /tmp/docker-compose.sh

    - name: "Create directory to deploy project"
      file:
        path: /skillcloud-ngsite
        state: directory

    - name: "Copy dependencies for building images"
      copy: src=../files/ngsite/ dest=/skillcloud-ngsite mode=0640

  handlers:
    - name: "Restart SSH"
      service: name=ssh state=restarted
